* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: rgb(255, 255, 255);
}
header {
  margin: 5px;
}

.brand img {
  width: 200px;
}
.menu-bar {
  background-color: rgb(255, 255, 255);
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 5%;
  position: relative;
}

.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  padding: 10px 30px;
  position: relative;
}

.menu-bar ul li a {
  font-size: 15px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: all 0.3s;
}

.menu-bar ul li a:hover {
  color: rgb(63, 139, 227);
  font-weight: bold;
  font-size: 15px;
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

.dropdown-menu {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: rgb(217, 222, 224);
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.espacio {
  height: 85px;
  background-color: rgb(255, 255, 255);
}

aside{
  margin-top: 100px;
  margin-right: 40px;
  float: right;
  background-color: rgb(245, 247, 244);
}
.menu_table ul {
  list-style: none;
  /*display: flex;*/
}

.menu_table ul li {
  padding: 8px;
  
}

.menu_table ul li a {
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: all 0.3s;
}
.menu_table ul li a:hover{
  color: red;
}
#flag{
  width: 20px;
  margin: 5px;
}







.mision-vision {
  background-color: rgb(90, 91, 142);
  color: rgb(255, 255, 255);
  height: 100px;
  padding: 30px 100px;
  font-weight: bold;
  font-size: 2rem;
  width: auto;
  margin-top: 50px;
}
#volver {
  text-decoration: none;
  color: aliceblue;
  text-align: right;
  padding-left: 300px;
  font-size: small;
}

.container_table {
  margin: 50px;
  width: 1000px;
}

#titulo_table{
  margin: 5px;
  font-size: 1.5rem;
  color: rgb(8, 6, 60);
  font-weight: bold;
}

table {
  font-size: small;
  width: 900px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 5px rgb(6, 6, 237);
}
th {
  align-items: center;
  padding: 15px;
  background-color: rgb(212, 222, 23);
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
}
td {
  padding: 15px;
  color: rgb(10, 10, 139);
  font-weight: bold;
  text-align: center;
}
thead {
  th {
    background-color: rgba(8,6,60);
  }
}
tbody {
  tr {
    &:hover {
      background-color: rgba(231, 152,78,0.512);
    }
  }
  td {
    position: relative;
    &:hover {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(251, 253, 254, 0.485);
        z-index: -1;
      }
    }
  }
}

.cross{
  width: 20px;
}








/*INICIO DE FOOTER contacto */
#contacto {
  height: auto;
  background-color: rgb(90, 91, 142);
  color: white;
  text-align: center;
}

#contacto .container {
  padding: 150px 12px;
}

#contacto h2 {
  margin-top: 0;
  font-size: 2rem;
}
#contacto h3 {
  margin-top: 0;
  font-size: 1.5rem;
}

#contacto p {
  font-size: 1.5rem;
  display: none;
}

#contacto p a{
  text-decoration: none;
}

#icon_mail{
  width: 40px;
}
#icon_socialmed{
  width: 25px;
  margin-right: 10px;
}


#contacto .carta {
  width: 400px;
  background-position: center center;
  background-size: cover;
  padding: 50px 0px;
  margin: 30px;
  border-radius: 15px;
}

.carta p a{
  font-size: 1.5REM;
  color: white;
  text-decoration: none;
}
footer {
  background-color: rgb(0, 0, 0);
}

footer p {
  font-size: 2rem;
  margin: 0;
  padding: 10px;
  color: rgb(255, 255, 255);
}

footer .container {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#flag{
  margin-bottom: 15px;
  width: 50px;
  height: 30px;
}
@media (min-width: 850px) {
  header {
    position: fixed;
    width: 100%;
  }

  header .container {
    flex-direction: row;
    justify-content: space-between;
  }

  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
  }

  #hero h1 {
    font-size: 5em;
  }

  #aniversario .container {
    display: flex;
    justify-content: space-evenly;
  }

  #aniversario .img-container {
    align-items: center;
    background-size: cover;
    background-position: center center;
    width: 100%;
  }

  #contacto .programas {
    display: flex;
    justify-content: center;
  }

  #contacto p {
    display: block;
    margin-bottom: 30px;
  }

  #contacto h2 {
    font-size: 4em;
  }

  #contacto h3 {
    margin-top: 0;
  }

  #componentes .container {
    display: flex;
    justify-content: space-evenly;
  }

  #final h2 {
    font-size: 5em;
  }
  footer .container {
    justify-content: flex-end;
  }
}

@media (min-width: 900px) {
  #componentes {
    background-position-x: calc(100vw - 800px);
  }
}
